@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <form asp-action="Login" method="post">
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="password" class="form-control" />
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input id="rememberMe" name="rememberMe" type="checkbox" class="form-check-input" />
                    <label for="rememberMe" class="form-check-label">Remember me</label>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Log in</button>
            </div>
        </form>
    </div>
</div>